<h1 style="text-align:center">
		Ahorkado
</h1>
<table>
<tbody>
<tr>
	<td>
		<h3><b><%= @palabra_oculta %> </b></h3>
		<p>
		<h3>vidas:<b><%= @vidas %> </b></h3> 
		<form action="/ingresarLetra" method="post">

			<p>Ingresar letra:<input type="text" name="proxima_letra">
			<p><input type="submit" value ="Ingresar">
			<h3> <b><%= @resultado %> </b></h3>
			<h3> <b><%= @mensaje %> </b></h3>
	
		</form>

		<form action="/" method="get">
			<input type="submit" value ="Nuevo Juego">
		</form>
	</td>

	<td>
		<img width="50%" src="<%= @vidas %>.png" />
	</td>
	
</tr>


</tbody>
</table>


