<h1 style="text-align:center">
		Ahorkado
</h1>
<table>
<tbody>
<tr>
	<td>
		<h1><b><%= @palabra_oculta %> </b></h1>
		<p>
		<h2>vidas:<b><%= @vidas %> </b></h2> 
		<form action="/ingresarLetra" method="post">

			<p>Ingresar letra:<input type="text" name="proxima_letra">
			<p><input type="submit" value ="Ingresar">
			<h1> <b><%= @resultado %> </b></h1>
			<h1> <b><%= @mensaje %> </b></h1>
	
		</form>

		<form action="/" method="get">
			<input type="submit" value ="Nuevo Juego">
		</form>
	</td>

	<td>
		<img src="<%= @vidas %>.png" />
	</td>
	
</tr>


</tbody>
</table>


